main{
    padding: 90px;
}

section{
    text-align: center;
    color:#FAF9F6;;
}

h2{
    padding: 10px;
}

h3{
    padding: 15px;
}

section p{
    margin-bottom: 15px;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;   
    margin: 0 auto;     
    background-color: rgba(173, 216, 230, 0.421);
    padding: 20px;      
    border-radius: 20px; 
}

.imagem img{
    width: 500px;
}


@media (max-width: 600px){
    main{
        padding: 10px;
    }
    
    section{
        text-align: center;
        color:#FAF9F6;

    }
    
    h1{
        padding: 10px;
    }
    
    h3{
        padding: 15px;
    }
    
    section p{
        margin-bottom: 15px;
    }
    
    .imagem{
        max-width: 100vw;   
        margin: 10px ;     
        padding: 10px;      
    }
    
    .imagem img{
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 861px){
    main{
        padding: 10px;
    }
    
    section{
        text-align: center;
        color:#FAF9F6;

    }
    
    h1{
        padding: 10px;
    }
    
    h3{
        padding: 15px;
    }
    
    section p{
        margin-bottom: 15px;
    }
    
    .imagem{
        max-width: 100vw;   
        margin: 10px ;     
        padding: 30px 10px;      
    }
    
    .imagem img{
        width: 90%;
    }
}

