main{
    padding: 90px;
}

h2{
    color: white;
}

main h2{
    text-align: center;
    padding: 20px;
    
}

h3{
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}


.dica {
    background-color: #3498db; 
    color: white;
    padding: 20px;
    font-size: 1.1em;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media (max-width: 600px){
    main{
        padding: 10px;
        margin-top: 6rem;
    }
    
    h1{
        font-size: 1.6rem;
    }
    
}

@media (min-width: 601px) and (max-width: 861px){
    main{
        padding: 15px;
        margin-top: 3rem;
    }
    
    h1{
        font-size: 1.9rem;
    }
}

@media (min-width: 862px) and (max-width: 1200px){
    main{
        padding: 15px;
        margin-top: 4rem;
    }
    
    h1{
        font-size:2rem;
    }
}