
main{
    padding: 90px;
    flex: 1;
}
.faq-container {
    width: 70%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}


.accordion {
    margin-top: 20px;
}

.accordion-btn {
    background-color: #3498db;  
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.accordion-btn:hover {
    background-color: #2980b9;
}


.panel {
    display: none;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-left: 4px solid #3498db;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
}


.panel.show {
    display: block;
}
