*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;

}

main{
    padding: 90px;
}

h2{
    text-align: center;
    padding: 15px;
}

p{
    line-height: 1.6;
}


section p{
    margin-bottom: 15px;
}

section{
    text-align: center;
    color:#FAF9F6;
}

h3{
    padding: 15px;
}


section h3{
    margin-bottom: 15px;
}


.regioes{
    border: 2px white solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}


.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;   
    margin: 0 auto;     
    background-color: rgba(173, 216, 230, 0.421);
    padding: 20px;      
    border-radius: 20px; 
}

.imagem img{
    width: 500px;
    border-radius: 40px;
}

@media (max-width: 600px){
    .imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100vw;   
        width: 100vw;
        margin: 0 ;     
        background-color: rgba(173, 216, 230, 0.421);
        padding: 20px;      
        border-radius: 20px; 
        margin-top: 2rem; 
    }
    
    .imagem img{
        width: 90%;
        border-radius: 40px;
    }

}

@media (min-width: 601px) and (max-width: 861px){
    .imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: none;   
        width: 80vw;
        margin: 0 ;     
        background-color: rgba(173, 216, 230, 0.421);
        padding: 20px;      
        border-radius: 20px; 
        margin-top: 2rem; 
    }
    
    .imagem img{
        width: 90%;
        border-radius: 40px;
    }
}
